{% extends 'main.html' %}
{% block content %}
    <div class="blog-header">
        <h1 class="blog-title">{{ post.title }}</h1>
        <p class="lead blog-description">Published on {{ post.postDate }} by <a href="#">{{ post.author }}</a></p>
    </div>

    <div class="row">
        <div class="col-sm-8 blog-main">
            {{ post.content|safe }}
            <hr/>
                <p class="blog-post-meta">Comments: {{ post.comments.count }}</p>
            <hr/>

            {% if post.comments.count > 0 %}
            <div class="blog-comments">
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
