                <div class="col-sm-8 blog-main">
                    {% for post in blogPosts %}
                    <div class="blog-post">
                        <h2 class="blog-post-title">{{ post.title }}</h2>
                        <p class="blog-post-meta">Published on {{ post.postDate }} by <a href="#">{{ post.author }}</a></p>
                        <hr>
                        <div class="blog-content">{{ post.preview|safe }}</div>
                        <a href="{% url 'detail' %}?id={{ post.pk }}" class="btn btn-default">Read more</a>
                        <hr>
                        <div class="blog-post-footer">
                            <p class="blog-post-meta">Comments: {{ post.comments.count }}</p>
                        </div>
                    </div>

                    {% empty %}

                    <div class="alert alert-warning">No published posts yet :(</div>

                    {% endfor %}

                    {% if blogPosts.paginator.num_pages > 1 %}
                    <div class="pager">
                        <span class="step-links">
                            {% if blogPosts.has_previous %}
                                <a class="btn btn-default" href="?page={{ blogPosts.previous_page_number }}">&lt</a>
                            {% endif %}

                            <span class="current">
                                Page {{ blogPosts.number }} of {{ blogPosts.paginator.num_pages }}.
                            </span>

                            {% if blogPosts.has_next %}
                                <a class="btn btn-default" href="?page={{ blogPosts.next_page_number }}">&gt</a>
                            {% endif %}
                        </span>
                    </div>
                    {% endif %}
                </div>
